.lkt-accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: default;
    gap: var(--lkt-accordion-gap);
    color: var(--lkt-accordion-color);
    box-shadow: var(--lkt-accordion-shadow);
    text-align: var(--lkt-accordion-text-align);
    transition: var(--lkt-accordion-transition);
    font-family: var(--lkt-accordion-font-family), serif;
    font-size: var(--lkt-accordion-font-size);
    font-weight: var(--lkt-accordion-font-weight);
    line-height: var(--lkt-accordion-line-height);
    border-radius: var(--lkt-accordion-border-radius);
    border-width: var(--lkt-accordion-border-width);
    border-style: var(--lkt-accordion-border-style);
    border-color: var(--lkt-accordion-border-color);
    min-width: var(--lkt-accordion-min-width);
    min-height: var(--lkt-accordion-min-height);
    padding: var(--lkt-accordion-padding);
}

.lkt-accordion-header {
    background: var(--lkt-accordion-header-bg);
    padding: var(--lkt-accordion-header-padding);
    border-top-left-radius: var(--lkt-accordion-header-border-radius);
    border-top-right-radius: var(--lkt-accordion-header-border-radius);
}

.lkt-accordion:not(.is-open) .lkt-accordion-header {
    border-bottom-left-radius: var(--lkt-accordion-header-border-radius);
    border-bottom-right-radius: var(--lkt-accordion-header-border-radius);
}

.lkt-accordion-content {
    background: var(--lkt-accordion-content-bg);
    padding: var(--lkt-accordion-content-padding);
    border-radius: var(--lkt-accordion-content-border-radius);
}

.lkt-accordion--alert {
    background: var(--alert-color);
    color: var(--alert-contrast);
    border-color: var(--alert-color);
}

.lkt-accordion--danger {
    background: var(--danger-color);
    color: var(--danger-contrast);
    border-color: var(--danger-color);
}

.lkt-accordion--success {
    background: var(--success-color);
    color: var(--success-contrast);
    border-color: var(--success-color);
}

.lkt-accordion--info {
    background: var(--info-color);
    color: var(--info-contrast);
    border-color: var(--info-color);
}

.lkt-accordion--warning {
    background: var(--warning-color);
    color: var(--warning-contrast);
    border-color: var(--warning-color);
}

.lkt-accordion--target {
    background: var(--target-color);
    color: var(--target-contrast);
    border-color: var(--target-color);
}